
table inet filter {
    chain input {
        type filter hook input priority 0;
        tcp dport 53 ct state new accept comment "accept knot-dns"
        udp dport 53 ct state new accept comment "accept knot-dns"
    }
}
