
define allow_ipv6 = {
fdc3:67ce:cc7e::/48,
2a01:4f8:171:fc00::/56,
2a01:4f8:171:3242::/64,
2a01:4f8:172:1713::/64,
2a01:4f8:140:4093::/64,
2a01:4f8:c17:6b7f::/64
}

define allow_ipv4 = 10.142.0.0/16

table inet filter {
    chain input {
        meta l4proto { tcp, udp } @th,16,16 53 ip6 saddr $allow_ipv6 accept comment "accept knot-resolver (IPv6)"
        meta l4proto { tcp, udp } @th,16,16 53 ip  saddr $allow_ipv4 accept comment "accept knot-resolver (IPv4)"
    }
}

