[Unit]
Description=Respondd Service
After=network.target

[Service]
Environment=PATH=/usr/sbin:/usr/bin:/usr/local/bin:/sbin:/usr/local/sbin
ExecStart=/opt/mesh-announce/respondd.py -d /opt/mesh-announce/providers -f /etc/mesh-announce/mesh-announce.conf
Restart=always
WorkingDirectory=/opt/mesh-announce
User=mesh-announce
Group=mesh-announce
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
