module.exports = function () {
  return {
    // Variables are NODE_ID and NODE_NAME (only a-z0-9\- other chars are replaced with _)
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href':  'https://stats.ffrn.de/d/000000002/nodes?var-node={NODE_ID}&theme=light',
        'image': 'https://stats.ffrn.de/render/d-solo/000000002/nodes?panelId=2&width=650&height=350&var-node={NODE_ID}',
        'title': 'Clientstatistik für {NODE_ID} - weiteren Statistiken',
        'width': 650,
        'height': 350
      },
      {
        'name': 'Traffic',
        'href':  'https://stats.ffrn.de/d/000000002/nodes?var-node={NODE_ID}&theme=light',
        'image': 'https://stats.ffrn.de/render/d-solo/000000002/nodes?panelId=61&width=650&height=350&var-node={NODE_ID}&theme=light',
        'title': 'Traffic für {NODE_ID} - weiteren Statistiken',
        'width': 650,
        'height': 350
      },
      {
        'name': 'Airtime',
        'href':  'https://stats.ffrn.de/d/000000002/nodes?var-node={NODE_ID}&theme=light',
        'image': 'https://stats.ffrn.de/render/d-solo/000000002/nodes?panelId=10&width=650&height=350&var-node={NODE_ID}&theme=light',
        'title': 'Airtime für {NODE_ID} - weiteren Statistiken',
        'width': 650,
        'height': 350
      },
    ],
    'globalInfos': [
      {
        'name': 'Nodes',
        'href': 'https://stats.ffrn.de/d/000000003/ubersicht',
        'image': 'https://stats.ffrn.de/render/d-solo/000000003/globals?panelId=1&from=now-7d&&width=650&height=350&theme=light',
        'title': 'Nodes Wochenverlauf Statistiken',
        'width': 650,
        'height': 350
      },
      {
        'name': 'Clients',
        'href': 'https://stats.ffrn.de/d/000000003/ubersicht',
        'image': 'https://stats.ffrn.de/render/d-solo/000000003/globals?panelId=3&from=now-7d&&width=650&height=350&theme=light',
        'title': 'Clients Wochenverlauf Statistiken',
        'width': 650,
        'height': 350
      }
    ],
    // Array of data provider are supported
    'dataPath': [
      '/data/'
    ],
    'siteName': 'Freifunk Rhein-Neckar',
    'maxAge': 21,
    'mapLayers': [
      {
        'name': 'OpenStreetMap',
        'url': 'https://tiles.ffrn.de/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 19,
          'attribution': '<a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'start': 6
        }
      },
      {
        'name': 'Esri.WorldImagery',
        'url': '//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        'config': {
          'maxZoom': 19,
          'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }
      },
    ],
    // Set a visible frame
    'fixedCenter': [
      // Northwest
      [
        49.760865,
        8.205414
      ],
      // Southeast
      [
        49.11613,
        9.152985
      ]
    ],
    'domainNames': [
      {
        'domain': 'ffrn',
        'name': 'Rhein-Neckar'
      }
    ],
    'forceGraph': {
        'tqFrom': '#213f26',
        'tqTo': '#52995d',
      },
    'nodeAttr': [
      // value can be a node attribute (1 depth) or a a function in utils/node with prefix show
      {
        'name': 'node.status',
        'value': 'Status'
      },
      {
        'name': 'node.gateway',
        'value': 'Gateway'
      },
      {
        'name': 'node.coordinates',
        'value': 'GeoURI'
      },
      {
        "name": "node.contact",
        "value": "owner"
      },
      {
        'name': 'node.hardware',
        'value': 'model'
      },
      {
        'name': 'node.primaryMac',
        'value': 'mac'
      },
      {
        'name': 'node.firmware',
        'value': 'Firmware'
      },
      {
        'name': 'node.uptime',
        'value': 'Uptime'
      },
      {
        'name': 'node.firstSeen',
        'value': 'FirstSeen'
      },
      {
        'name': 'node.systemLoad',
        'value': 'Load'
      },
      {
        'name': 'node.ram',
        'value': 'RAM'
      },
      {
        'name': 'node.ipAddresses',
        'value': 'IPs'
      },
      {
        'name': 'node.update',
        'value': 'Autoupdate'
      },
      {
        'name': 'node.domain',
        'value': 'Domain'
      },
      {
        'name': 'node.clients',
        'value': 'Clients'
      }
    ],
    'linkList': [
      {
        'title': 'Webseite',
        'href': 'https://www.freifunk-rhein-neckar.de/'
      },
      {
        'title': 'Forum',
        'href': 'https://forum.ffrn.de'
      },
      {
        'title': 'Firmware',
        'href': 'https://fw.ffrn.de'
      }
    ]
  };
};
