module.exports = function () {
  return {
    // Variables are NODE_ID and NODE_NAME (only a-z0-9\- other chars are replaced with _)
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href':  'https://stats.ffrn.de/dashboard/db/nodes?var-Node={NODE_ID}&theme=light',
        'image': 'https://stats.ffrn.de/render/dashboard-solo/db/nodes?panelId=2&width=650&height=350&var-Node={NODE_ID}&theme=light',
        'title': 'Clientstatistik für {NODE_ID} - weiteren Statistiken',
        'width': 650,
        'height': 350
      },
    ],
    'globalInfos': [
      {
        'name': 'Nodes',
        'href': 'https://stats.ffrn.de/d/000000003/ubersicht',
        'image': 'https://stats.ffrn.de/render/d-solo/000000003/globals?panelId=1&from=now-7d&&width=650&height=350&theme=light',
        'title': 'Nodes Wochenverlauf Statistiken',
        'width': 650,
        'height': 350
      },
      {
        'name': 'Clients',
        'href': 'https://stats.ffrn.de/d/000000003/ubersicht',
        'image': 'https://stats.ffrn.de/render/d-solo/000000003/globals?panelId=3&from=now-7d&&width=650&height=350&theme=light',
        'title': 'Clients Wochenverlauf Statistiken',
        'width': 650,
        'height': 350
      }
    ],
    // Array of data provider are supported
    'dataPath': [
      '/data/'
    ],
    'siteName': 'Freifunk Rhein-Neckar',
    'mapLayers': [
      {
        'name': 'OpenStreetMap',
        'url': 'https://tiles.ffrn.de/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 19,
          'attribution': '<a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'start': 6
        }
      },
      {
        'name': 'Esri.WorldImagery',
        'url': '//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        'config': {
          'maxZoom': 19,
          'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }
      },
    ],
    // Set a visible frame
    'fixedCenter': [
      // Northwest
      [
        49.760865,
        8.205414
      ],
      // Southeast
      [
        49.11613,
        9.152985
      ]
    ],
    'domainNames': [
      {
        'domain': 'ffrn',
        'name': 'Rhein-Neckar'
      }
    ],
    'forceGraph': {
        'tqFrom': '#213f26',
        'tqTo': '#52995d',
      },
    'linkList': [
      {
        'title': 'Webseite',
        'href': 'https://www.freifunk-rhein-neckar.de/'
      },
      {
        'title': 'Forum',
        'href': 'https://forum.ffrn.de'
      },
      {
        'title': 'Firmware',
        'href': 'https://fw.ffrn.de'
      }
    ]
  };
};
