{%- set nets4 = salt['pillar.get']('domains:%s:ip4'|format(domain)).keys() %}
{%- set nets6 = salt['pillar.get']('domains:%s:ip6'|format(domain)).keys() %}
{%- set mtu = salt['pillar.get']('domains:%s:mtu'|format(domain)) %}
{%- set public_interface = salt['pillar.get']('nftables:public_interface', 'eth0') %}

{% if "roles" in pillar and 'gateway4' in pillar.roles %}
table ip nat {
    chain POSTROUTING {
        oifname "{{ public_interface }}" ip saddr { {{ ', '.join(nets4) }} } counter snat to {{ grains['fqdn_ip4'][0] }};
    }
}
{% endif %}

table inet filter {
    chain forward {
{%- if "roles" in pillar and 'gateway4' in pillar.roles %}
        iifname "dom{{ domain_id }}-br" ip saddr { {{ ', '.join(nets4) }} } tcp dport 25 counter reject comment "don't allow smtp - {{ domain }}"
        iifname "dom{{ domain_id }}-br" ip saddr { {{ ', '.join(nets4) }} } counter accept
{% endif %}
{%- if "roles" in pillar and 'gateway6' in pillar.roles %}
        iifname "dom{{ domain_id }}-br" ip6 saddr { {{ ', '.join(nets6) }} } tcp dport smtp counter reject comment "don't allow smtp - {{ domain }}"
        iifname "dom{{ domain_id }}-br" ip6 saddr { {{ ', '.join(nets6) }} } counter accept comment "allow out {{ domain }}"
        iifname "{{ public_interface }}" oifname "dom{{ domain_id }}-br" ip6 daddr { {{ ', '.join(nets6) }} } counter accept comment "allow in {{ domain }}"
{%- endif %}
    }
}

table inet mangle {
    chain FORWARD {

{%- if "roles" in pillar and 'gateway4' in pillar.roles %}
        # mss = transport mtu - (batman-adv + ether) - ipv4 - tcp
        ip version 4 iifname "dom{{ domain_id }}-br" oifname "{{ public_interface }}" meta l4proto tcp tcp flags & (syn|rst) == syn counter tcp option maxseg size set {{ mtu - 32 - 20 - 20 }}
{%- endif %}

{%- if "roles" in pillar and 'gateway6' in pillar.roles %}
        # mss = transport mtu - (batman-adv + ether) - ipv6 - tcp
        ip version 6 iifname "dom{{ domain_id }}-br" oifname "{{ public_interface }}" meta l4proto tcp tcp flags & (syn|rst) == syn counter tcp option maxseg size set {{ mtu - 32 - 40 - 20 }}
        ip version 6 iifname "{{ public_interface }}" oifname "dom{{ domain_id }}-br" meta l4proto tcp tcp flags & (syn|rst) == syn counter tcp option maxseg size set {{ mtu - 32 - 40 - 20 }}
{%- endif %}
    }
}
