# salt managed

ddns-update-style none;

default-lease-time 1800;
max-lease-time 3600;

authoritative;

log-facility local7;

{% for domain in salt['pillar.get']('domains', {}).values() %}
include "/etc/dhcp/conf.d/dom{{ domain['domain_id'] }}.conf";
{%- endfor %}
