
table inet filter {
    chain input {

        ip6 saddr { {{ salt['pillar.get']('prometheus:allowed_ips:ipv6') | join(", ") }} } tcp dport 9281 accept comment "fastd exporter"
        ip saddr { {{ salt['pillar.get']('prometheus:allowed_ips:ipv4') | join(", ") }} } tcp dport 9281 accept comment "fastd exporter"

    }
}
